#nav_head #prodigy {
    font-family: 'Montserrat', sans-serif;
    width: 16rem;
    height: 2.5rem;
}

#nav_head #explore {
    width: 11rem;
    height: 4rem;
}

.navItems {
    font-weight: 700;
    font-size: 1.2rem;
}

#signinbtn {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}

h5 #signinbtn:hover {
    color: rgb(59, 252, 101);
}

.Button {
    padding: 4px auto 4px auto;
    margin-bottom: 6px;
    /* color: white; */
}

.Button .Button-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 24px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    margin-left: 1.2rem;
    text-decoration: none;
    border: 2px solid #f9c74f;
    background-color: #ff006e;
    color: rgb(255, 255, 255);
}

.Button .Button-btn:hover {
    background: #f54893ea;
    border: 4px double #2a9d8f;
}

#icoSearch {
    padding: .6rem;
}

.modiflink {
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}